.container-component-experiencia{
  background: transparent;
  color: white;
  width: 40%;
  display: block;
  text-align: center;
  margin: 2em auto;
}
.container-loadder{
  position: relative;
  display: inline-block;
}
.icono-experiencia{
  width: 15em;
  margin: 1em auto;
  border-radius: 50%;
  
}

.circle{
  position: absolute;
  top: 44%;
  left: 50%;
  background: transparent;
  transform: translate(-50%, -50%);
  width: 13em;
  height: 13em;
  border: 10px solid #313131;
  border-radius: 50%;
  border-bottom: 4px solid #FF6A00;
  animation: spin 2s linear infinite;
  z-index: 1;
  
}
.border{
  position: absolute;
  top: 51%;
  left: 50%;
  background: transparent;
  transform: translate(-50%, -50%);
  width: 13em;
  height: 13em;
  border: 10px solid #FF6A00;
  border-radius: 50%;
  border-bottom: 4px solid #084A99;
  z-index: 0;
}
.icono{
  height: 8em;
  margin: 3em auto;
  background: transparent;
  align-items: center;
}


.text-initial-experiencia{
  margin: auto;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  font-weight: lighter;

}



@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}